<html>
<html lang="fa-IR" prefix="og: http://ogp.me/ns#">
<head>
<meta charset="UTF-8" />
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" crossorigin="anonymous"/>
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap-theme.min.css') }}" crossorigin="anonymous"/>
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}" crossorigin="anonymous"/>
<script src="{{ url_for('static', filename='assets/js/jquery-2.1.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}" crossorigin="anonymous"></script>
