<body>
<div align="center"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="" width="420" height="179" border="0"><br /></div><br />

<nav class="transparent navbar navbar-default  navbar-fixed-top ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">AsH Clash Server Status</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
        <li {% if request.path == '/' %}class="active"{% endif %}><a href='/'><i class="fa fa-home fa-fw"></i> Home</a></li>
        <li {% if request.path == '/bans' %}class="active"{% endif %}><a href='/bans'><i class="fa fa-ban fa-fw"></i> Banlist</a></li>
        <li {% if request.path == '/admins' %}class="active"{% endif %}><a href='/admins'><i class="fa fa-list fa-fw"></i> Admins</a></li>
        <li {% if request.path == '/clans' %}class="active"{% endif %}><a href='/clans'><i class="fa fa-group fa-fw"></i> clans</a></td>
        <li {% if request.path == '/stats' %}class="active"{% endif %}><a href='/stats'><i class="fa fa-bars fa-fw"></i> Stats</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if 'username' not in session %}
        <li><a href="/signin"><i class="fa fa-sign-in fa-fw"></i>Sign in</span></a></li>
        {% else %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-dashboard fa-fw"></i> Welcome,{{ session['username'] }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin"><i class="fa fa-cogs fa-fw"></i> Admin Panel</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/signout"><i class="fa fa-sign-out fa-fw"></i> Sign Out</span></a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>