<nav class="text-center">
  <ul class="pagination" margin="auto">
    {% if page==1 %}
    <li class="disabled">
    {% else %}
    <li>
    <a href="/clans/page/{{page-1}}" aria-label="Previous">
    {% endif %}
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for i in range(3,0,-1) %}
      {% if page-i>0 %}
        <li><a href="/clans/page/{{page-i}}">{{page-i}}</a></li>
      {% endif %}
    {% endfor %}


    <li class="active"><a>{{page}}</a></li>


    {% for i in range(1,4) %}
      {% if page+i< total %}
        <li><a href="/clans/page/{{page+i}}">{{page+i}}</a></li>
      {% endif %}
    {% endfor %}

     {% if page+1>=total %}
    <li class="disabled">
      <span aria-hidden="true">&raquo;</span>
    {% else %}
    <li>
      <a href="/clans/page/{{page+1}}" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
      </a>
    {% endif %}
    </li>
  </ul>
</nav>
